In [503]:
import pandas as pd
from pandas import ExcelFile
import datetime
from datetime import date
from datetime import datetime

In [504]:
df_m = pd.read_excel(r'main_data.xlsx')
df_l = pd.read_excel(r'log_register.xlsx')

In [505]:
a = "abc_123"
b = a.rsplit('_', 1)[1]

In [506]:

for i in range(df_m.shape[0]):
    
    if(b == str(df_m.iloc[i,df_m.columns.get_loc('id')])):
        
        today = date.today()
        now = datetime.now()
        d3 = today.strftime("%Y-%m-%d")
        time = now.strftime("%H:%M:%S")
        
        for j in range(df_l.shape[0]):
            if(b == str(df_l.iloc[j,df_l.columns.get_loc('id')]) and (d3 == str((df_l.iloc[j,df_l.columns.get_loc('date')]).date()) and str(df_l.iloc[j,df_l.columns.get_loc('permission')]) == 'allowed')):
                total_time=(datetime.strptime(time,'%H:%M:%S') - datetime.strptime(str(df_l.iloc[j,df_l.columns.get_loc('time')]),'%H:%M:%S'))
                if(total_time.total_seconds() <= 120.0):
                    break
                
                else:
                    print ('matched', i)
                    df_l = df_l.append({'id': df_m.iloc[i,df_m.columns.get_loc('id')], 'name': df_m.iloc[i,df_m.columns.get_loc('name')], 'number': df_m.iloc[i,df_m.columns.get_loc('number')], 'image': df_m.iloc[i,df_m.columns.get_loc('image')], 'permission': df_m.iloc[i,df_m.columns.get_loc('permission')], 'date': d3, 'time': time}, ignore_index=True)

matched 0

In [507]:
df_l

    id       name  number    image permission                 date      time
0  123  deepanshu     100  abc.com    allowed  2020-01-17 00:00:00  07:00:00
1  123  deepanshu     100  abc.com    allowed           2020-01-17  08:13:16